.features {
    text-align: center;
    margin-bottom: 50px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #dc3545;
    color: white;
}

.nav-pills .nav-link {
    font-size: 150%;
    margin: 5px;
    background-color: #dc3545;
    color: white;
    box-shadow: 6px 6px 4px #ccc;
    cursor: pointer;
}

.features-item {
    border-radius: 20px !important;
    padding: 30px 20px;
}

.features-item:hover {
    box-shadow: 3px 6px  #ccc !important;
}

.feature-image {
    width: 850px;
    height: 500px;
    border: 10px solid #dc3545;
    border-radius: 40px;
    box-shadow: 5px 5px 6px #aaa;
}

.feature-display {
    text-align: center;
}

.feature-description {
    font-size: 18px;
    margin-top: 20px;
}