.what-we-offer {
    text-align: center;
    margin-top: 50px;
}

.categories {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.category-tile {
    width: 30%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    padding: 10px 20px 2px 20px;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 20px 0px;
}

.section-header {
    font-size: 300%;
    font-weight: 400;
    width: 30%;
    margin: 10px auto;
}

.section-description {
    font-size: 120%;
    width: 70%;
    margin: 5px auto;
}