.App {
  text-align: center;
}

a, a:hover, a:active {
  color: black;
  text-decoration: none;
}

.page-item.active .page-link, .page-link{
  background-color: #dc3545;
  color: #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: none;
  border-bottom: none;
  cursor: pointer;
}